[[source]]
name = "pypi"
url =  "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "==1.16.3"
matplotlib = "*"
scikit-learn = "*"
pandas = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
